# Python Basics

## Data and Expressions

A __literal__ is a sequence of one or more character that stands for itself.

### Numeric Literals

Contains decimal point -> floating-point value

Otherwise -> integer value

In [3]:
type(1.0) # Type Function shows the type of the value passed

float

In [4]:
# Basic Math operations are as easy as it seems
3+6

9

In [5]:
type(1)

int

In [8]:
# Limit of Precision
# There is a limit of precision showing
1.0/3

0.3333333333333333

In [10]:
# By default the division in Python 3 is float division.
5/3

1.6666666666666667

In [11]:
# Integer Division 
## Double '/' enables the integer division results in integer
5//3

1

In [12]:
# However one or both of the number(s) is float the result turn float,
## but division is still integer
5.0//3

1.0

In [13]:
3*(1.0/3)

1.0

In [17]:
a = 12.0/5
a

2.4

In [18]:
type(a)

float

In [19]:
# Built-in Format Function
## Enables us to make precision formatting, but returns string
b = format(12.0/5, '.2f')
b

'2.40'

In [21]:
type(b) # It's string careful.

str

In [22]:
# To make it back to numeric, use float built-in function
float(b)

2.4

In [24]:
# Built-in int function converts a string passed, if convertable
int('123')

123

In [26]:
# If the value passed is not convertable will give error
int('123a')

ValueError: invalid literal for int() with base 10: '123a'

In [27]:
# With same idea we can do backwards
# str builtin function converts passed value into string
# converting to string is more flexible
str(13)

'13'

In [31]:
# We can multiply(in a sense) strings 
2*'ab'

'abab'

In [32]:
5.0/7

0.7142857142857143

In [33]:
float(format(5.0/7, '.2f'))

0.71

### String Literals

__Strings__ represent a sequence of characters. 

Strings surrounded by a matching pair of either single (') or double (") quotes.

In [34]:
print('Hello World!')

Hello World!

In [35]:
print('String 10 String 20')

String 10 String 20

In [36]:
'String 1' # single quotes

'String 1'

In [37]:
"String 2" # Double quotes

'String 2'

In [38]:
"Enes's String" # Usage of single and double together

"Enes's String"

In [39]:
type("") # Empty string

str

In [40]:
' ' # String which contains only space

' '

So how is computer understands the character, since language of computer is made of 1s and 0s?

![ASCII Table](https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/ASCII-Table-wide.svg/1280px-ASCII-Table-wide.svg.png)

There is a special encoding for character which represents a number between 0 to 127.

In [42]:
# ord builtin library returns the ascii value of passed value
ord('1') # Returns the ASCII value of string 1

49

In [43]:
# chr builtin library returns the character value of passed ascii value
chr(122) # Returns the character value of ASCII 122

'z'

### Variable

A variable is an identifier (name) that is associated with a value.

In [44]:
# num is a variale, kind of value holder
num = 10

In [45]:
num

10

Variable can be assigned different values during a program's execution. 

Variables are assigned values by use of the assignment operator (=)

In [46]:
# Update Variable
num = num + 1 # num += 1

In [47]:
num = ("Nazugum")

In [48]:
type(num)

str

Now let's learn how to assign values which comes from the user inputs.

In [49]:
# input builtin function takes user inputs, you can pass the prompt message as well
name = input("What is your first name?")

What is your first name? Kemal

In [50]:
(name + " ")* 2

' Kemal  Kemal '

- All input is returned by the input function as as string type.
- For the input of numeric values, the response must be converted to the appropriate type.

In [52]:
line = input('How many credits do you have?')

How many credits do you have? 118

In [58]:
line

' 118'

In [59]:
type(line)

str

In [60]:
num_credits = int(line)
num_credits

118

In [61]:
type(num_credits)

int

There are some restrictions on declaring variable names:

- quotes not allowed
- spaces not allowed
- cannot begin with digit
- should not begin with underscore

In [62]:
name" = 2

SyntaxError: EOL while scanning string literal (<ipython-input-62-e8008b0a2052>, line 1)

In [63]:
"name" = "Enes"

SyntaxError: can't assign to literal (<ipython-input-63-59bec5546018>, line 1)

In [64]:
name_student = "Enes"
name_student

'Enes'

In [65]:
2012name = "Enes"

SyntaxError: invalid syntax (<ipython-input-65-6b786e92b5ef>, line 1)

In [66]:
name-enes

NameError: name 'enes' is not defined

In [67]:
name = "Enes"
name

'Enes'

Another important rule when it comes to usage of specific names. You cannot use predefined names. This is really important because Python won't complain when you use them but it will cause unwanted damages to your program.

![Keywords](http://keefwiki.com/tech/wp-content/uploads/sites/4/2015/06/Python-keywords.png)

### Apply it!

<p style=color:red>
You will write a small program using the basics I talked about above which produces the following output: 
</p>

    This program will calculate a restaurant tab for a couple with a gift certificate, with a reataurant tax of 8.0%
    Enter the amount of the gift certificate: 200
    Enter ordered items for person 1
    Appetizer: 5.50
    Entree: 21.50
    Drinks: 4.25
    Dessert: 6.00
    
    Enter ordered items for person 2
    Appetizer: 6.25
    Entree: 18.50
    Drinks: 6.50
    Dessert: 5.50
    
    Ordered items: $ 74.00
    Restaurant tax: $ 5.92
    Tab: $ -120.08
    (negative amount indicates unused amount of gift certificate)
    
<p style=color:red>
You need to use input function for gift certificate, appetizer, entree, drinks, dessert 
</p>

---
## Result:

### Test Time

__Question1:__ Which of the following are valid assignment statements, in which only variable k has already
been assigned a value?

1. ```n = k + 1```
2. ```n = n + 1```
3. ```n + k = 10```
4. ``` n + 1 = 1```


__Question2:__ What is the value of variable num after the following assignment statements are executed?

    num = 0
    num = num + 1
    num += 5


__Question3:__ Do variables num and k reference the same memory location after the following instructions are executed? (YES/NO)

    num = 10
    k = num
    num += 1
    
__Question4:__ Which of the following are valid identifi ers in Python?

1. ```errors```
2. ```error_count```
3. ```error-count```

__Question5:__ Which of the following are keywords in Python?

1. ```and```
2. ```As```
3. ```while```
4. ```until```
5. ```NOT```

__Question6:__ Which one of the following is correct for reading and storing and integer value from the user?

1. ```n = input('Enter: ')```
2. ```n = int(input('Enter: ')```

### Operators

An operator is a symbol that represents an operation that may be performed on one or more _operands._ 

#### Arithmetic Operators

![Arithmetic Operators](http://images.slideplayer.com/12/3592158/slides/slide_8.jpg)

In [71]:
20 - 5

15

In [72]:
-10 * 2

-20

In [73]:
2 ** 4

16

In [74]:
2.5 ** 4

39.0625

In [75]:
25.0 // 10

2.0

In [76]:
25 // 10

2

In [77]:
25.0 / 10

2.5

### Apply it!

<p style=color:red>
You will write a small program using the basics I talked about above which producing the following output: 
</p>

    This program will determine your place in the universe.
    Enter your weight in pounds: 150
    You contain approximately 3.30e+28 atoms
    Therefore, you comprise 3.30e-51 % of the universe
    
<p style=color:red>
Use these initial variables: <br>
num_atoms_universe = 10e80 <br>
weight_avg_person = 70 # 70 Kg == (154 lbs) <br>
num_atoms_avg_person = 7e27 <br>
</p>

---
## Result:

### Test Time

__Question1:__ Give the results for each of the following.

1. ```-2 * 3```
2. ```15 % 4```
3. ```3 ** 2```

__Question2:__ Give the exact results of each of the following division operations.

1. ```5 / 4```
2. ```5 // 4```
3. ```5.0 // 4```

__Question3:__ Which of the expressions in question 2 is an example of integer division?

__Question4:__ Do any two of the expressions in question 2 evaluate to the exact same result? (YES/NO)

__Question5:__ How many operands are there in the following arithmetic expression?

    2 * 24 + 60 - 10

### Expression and Data Types

An expression is a combination of symbols that evaluates to a value. 

    4 + (3 * k)
    
This expression has two subexpressions, ```4``` and ```(3 * k)```. Subexpression ```(3 * k)``` itself has two
subexpressions, ```3``` and ```k```.

> An expression is a combination of symbols (or single symbol) that evaluates to a value. A sub-expression is any expression that is part of a larger expression.

---
## Programming Exercises

__P1:__

    Write a Python program that prompts the user for two integer values and displays the result of the first number divided by the second, with exactly two decimal places displayed.
    

__Solution:__

__P2:__

    Write a Python program that prompts the user for two floating-point values and displays the result of the first number divided by the second, with exactly six decimal places displayed.
    
    
__Solution:__

__P3:__

    Write a Python program that prompts the user to enter an upper or lower case letter and displays the corresponding ASCII encoding.
    
__Solution:__

---
## Development Problems

__D1: Losing Your Head over Chess__ 
    
    The game of chess is generally believed to have been invented in India in the sixth century for a ruling
    king by one of his subjects. The king was supposedly very delighted with the game and asked the sub-
    ject what he wanted in return. The subject, being clever, asked for one grain of wheat on the fi rst
    square, two grains of wheat on the second square, four grains of wheat on the third square, and so forth,
    doubling the amount on each next square. The king thought that this was a modest reward for such an
    invention. However, the total amount of wheat would have been more than 1,000 times the current
    world production.
    
    Develop and test a Python program that calculates how much wheat this would be in pounds, using
    the fact that a grain of wheat weighs approximately 1/7,000 of a pound.
    
__Solution:__

__D2: Life Signs__    
    
    Develop and test a program that determines approximately how many breaths and how many heartbeats the 20 year old person has had in their life. The average respiration (breath) rate of people changes during different stages of development. Use the breath rates given below for use in your program:
    
                         Breaths per Minute
    Infant               30–60 
    1–4 years            20–30 
    5–14 years           15–25     
    adults               12–20
    For heart rate, use an average of 67.5 beats per second.
    
__Solution:__